.hero {
  padding: 50px 20px;
  background-color: #f7fbff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.hero-image {
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

blockquote {
  font-style: italic;
  color: #333;
  font-size: 1.2em;
}

### évszám szíbezés remélem jó lesz.
.timeline {
  list-style: none;
  padding: 0;
  border-left: 3px solid #87CEFA;
  margin-left: 20px;
}

.timeline li {
  margin: 15px 0;
  padding-left: 10px;
  position: relative;
}

.timeline li::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-color: #A8E6CF;
  border-radius: 50%;
}



"""
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8fbff;
  color: #333;
}
.navbar {
  background-color: #dceeff;
}
footer {
  background-color: #dceeff;
  padding: 1rem;
  text-align: center;
  color: #555;
}
a {
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}
"""
